<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    </head>
    <body>
        <h1>Hello {{request.session.user_id}}--</h1>
        <p>Here are the existing users</p>
        <a href="/logout">Log Out Now!!</a>
       <table>
           <thead>
               <tr>
                   <th>First Name:</th>
                   <th>Last Name:</th>
                   <th>Email:</th>
                   <th>Poke History:</th>
                   <th>Action:</th>
               </tr>
           </thead>
           {% for user in all_users %}
           <tr>
               <td>{{user.first_name}}</td>
               <td>{{user.last_name}}</td>
               <td>{{user.email}}</td>
               <td>Poke history goes here</td>
               <td>
                   <form action="/dashboard/createPoke" method="POST">
                       {% csrf_token %}
                       <input type="hidden" name="poke_receiver" value="{{user.id}}">
                       <input type="submit" value="POKE!">
                   </form>
               </td>
           </tr>
           {% endfor %}

       </table>


       <table>
           <thead>
                <tr>
                    <th>poke id</th>
                    <th>poke sender</th>
                    <th>poke receiver</th>
                    <th>poke count</th>
                </tr>
           </thead>
           {% for poke in all_pokes %}
           <tr>
               <td>{{poke.id}}</td>
               <td>{{poke.poke_sender.first_name}}</td>
               <td>{{poke.poke_receiver.first_name}}</td>
               <td>{{poke.count}}</td>
           </tr>
           {% endfor %}
       </table>

    </body>
</html>